@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.about {
  background-color: $light-bg;
  padding: 5rem 2rem;
  text-align: center;

  &__title {
    font-size: 2.25rem;
    color: $primary-color;
    margin-bottom: 2rem;
  }

  &__text {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.125rem;
    color: $gray;
    line-height: 1.8;
  }

  &__image {
    margin-top: 3rem;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 10px 20px rgba($black, 0.1);
      @include fade-in(1s);
    }
  }
}

@include media-max(768px) {
  .about {
    &__image {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}